{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <p id='sectionTitle'><h3>Select Symptoms</h3></p>
    
    <div class="col col-sm-12 col-lg-12" style="text-align: center; justify-content: center;">
        <div id='ms'><h4>Main Symptom</h4></div>
        {% if mobile %}
            <input class="preset5" id="MainCause" type="range" data-width="350" data-height="350" data-angleOffset="128" data-angleRange="310" data-labels="Symptom1,Symptom2,Symptom3, Symptom4,Symptom5,Symptom6,Symptom6" />
            <h3>Secondary Symptom</h3>
            <h5 id="error" style="color: tomato;"></h5>
            <select id="secondSymptomSelect" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                <option selected style="text-align: center;"><h3>Select Second Symptom</h3></option>
            </select>  
            <button type="button" onclick="alertvalue()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Diagnose
            </button> 
        {% else %}
            <h5 id="error" style="color: tomato;"></h5>
            <input id="MainCause" class="preset1" type="range" data-width="700" data-height="700" data-angleOffset="270" data-angleRange="310" data-labels="{{ main_labels }}" />
            <a href="{{ url_for('secondarysymptoms', p=0) }}" id="secondSymptomURL">
                <button type="button" class="btn btn-primary btn-lg" id="nButton"style="display: block;">Next</button>
            </a> 
            <button type="button" id="dButton" onclick="alertvalue()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none;">
                Diagnose
            </button>
        {% endif %}
    </div>    
    
</div>

<div class="row">
    <div class="col col-sm-12">
        <!--<button id='start' onclick="alertvalue()">Diagnose</button>-->
        {% if mobile %}
            
        {% else %}
            
        {% endif %}
    </div>
</div>

<!-- Vertically centered scrollable modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modalTitla">Diagnosis</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row" style="justify-content: center !important; text-align: center !important;">
                <h2>In case of high pressure: </h2>
                <div class="row" id="HP"></div>
            </div>
            <div class="row" style="justify-content: center !important; text-align: center !important;">
                <h2>In case of low pressure: </h2>
                <div class="row" id="LP"></div>
            </div>
        </div>
        <div class="modal-footer">
          <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
    {% if mobile %}
        <script type="text/javascript" src="{{ url_for('static', filename='JS/mobileDiagnosis.js' ) }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ url_for('static', filename='JS/desktopDiagnosis.js' ) }}"></script>
    {% endif %}
{% endblock %}
